@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 262.1 83.3% 57.8%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 262.1 83.3% 57.8%;
    --radius: 0.3rem;
  }

  .dark {
    --background: 223 39% 9%;
    --foreground: 210 38% 95%;
    --muted: 218 39% 11%;
    --muted-2: 219 32% 16%;
    --muted-foreground: 214 20% 69%;
    --muted-foreground-2: 215 9% 65%;
    --primary: 239 84% 67%;
    --primary-foreground: 210 38% 95%;
    --border: 218 23% 23%;
    --input: 218 23% 23%;
    --ring: 239 84% 67%;
    --destructive: 4 86% 58%;
    --destructive-foreground: 210 38% 95%;
    --accent: 0 0% 100% 0.039;
    --accent-foreground: 210 38% 95%;
    --card: 223 39% 9%;
    --card-foreground: 210 38% 95%;
    --popover: 223 39% 9%;
    --popover-foreground: 210 38% 95%;
    --secondary: 218 23% 23%;
    --secondary-foreground: 210 38% 95%;
    /* 
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 263.4 70% 50.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 263.4 70% 50.4%; */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }

  .data-table-container {
    height: calc(100vh - 110px);
  }
}
